    <%= form_for(@post) do |f| %>

        <%= f.text_area :post_text, class: "form-control", placeholder: "your post", rows: "10" %>
                    <!-- <textarea class="form-control" placeholder="Your post" rows="10"></textarea> -->

        <div class="margin-top-20">
            <%= f.text_field :title, class: "form-control", placeholder: "your title" %>
        </div>

        <div class="margin-top-20">
            <%= f.text_field :post_image, class: "form-control", placeholder: "your image url" %>

        </div>


         <button type="submit">Edit</button>
         <button><%= link_to 'Destroy', {:controller=>:posts,:action=>:destroy, :id=>params[:id]}, :method=>:delete %></button>

    <% end %>



    <a href="/posts">Home</a>

